@import "vendor/bootstrap/bootstrap.min";
@import "reset";
@import "font-awesome/font-awesome";
$rem-baseline: 20px;

html {
  body {
    font-family: Roboto;
    font-weight: 300;
    .page-header {
      font-weight: 400;
      margin: 30px 0;
      font-size: 25px; 
    }
    .address-fields {
      width: 50%;
      margin: 0 auto;
      .address {
        margin: 5px 0;
      }
    }
    .message {
      margin: 10px auto;
    }
  }
}
